<section>
	<p>Do you like your film super independent? Do you want to help an aspiring filmmaker bring their vision to the screen? Use the Film-O-Matic to get a random narrative film Kickstarter project to support.</p>
	<form action="/project" method="GET">
		<input type="submit" value="Get me a film project">
	</form>
</section>